@model IEnumerable<Sports2.Models.MembershipCharge>

@{
    ViewBag.Title = "Index";
}
<style>
    table{
        background-color:antiquewhite;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-secondary" })
</p>
<p>
    @Html.ActionLink("Back", "AdminDashboard", "Admin", null, new { @class = "btn btn-primary" })
</p>
<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MembershipChargeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembershipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipChargeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MembershipChargeId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MembershipChargeId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MembershipChargeId })
        </td>
    </tr>
}

</table>
