@model Sports2.Models.ClubRule
@{
    ViewBag.Title = "ViewRulesDetails";
}

<h2>ViewRulesDetails</h2>

<div>
    <h4>ClubRule</h4>
    <hr />
    <dl class="dl-horizontal text-white">
        <dt>
            @Html.DisplayNameFor(model => model.RuleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ViewRulesIndex")
</p>
